**/.git
**/.idea
**/.vscode
**/.DS_Store
**/.env*
**/*.log
**/*.tmp
**/node_modules
**/coverage
**/dist
**/build
**/target

/.github
/.dockerignore
/.editorconfig
/.gitattributes
/.gitignore
/compose.yaml
/compose.yml
/docker-compose.yaml
/docker-compose.yml
/Dockerfile*
/README.md
/LICENSE
/*.md

actions-runner*
_work/
